<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Joel Hanson</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">


</head>

<body>
	<div id="main-container">
		<header>
			<h1>Rick Astley</h1>
		</header>
		<nav>

			<div class="buttons">
				<a class="btn" href="../html/login.html">Login</a>
				<a class="btn" href="../html/index.html">Home</a>
				<a class="btn" href="../html/">Add To List</a>


			</div>
		</nav>
		<div class="content01">
			<h1>The 10 Things I like </h1>
			<div class="list1">
				<ol>
					<li> Never giving you up</li>
					<li> Never Letting you down</li>
					<li> Never running around</li>
					<li> Never hurting you</li>
					<li> Never making you cry</li>	
			</div>

			<div class="list2">
			<ol>
					<li> Never telling lies</li>
					<li> Never hurting you</li>
					<li> Never gonna get Rickrolled</li>
					<li> Potatos</li>
					<li>Singing</li>	
			</div>
		</ol>
		</div>
		<div class="content02">

			<div class="lefty">
				<h3>Paragraph!</h3>
				<p>
					Hello There! My name is Rick Astley! I was born on Feburary 6th, 1966. 
					I became a famous song writer, known for beloved songs such as Never Going To Give You up. Here is my top 10 things that I really enjoy in no particular order. I just really enjoy the thought of never hurting someone.
					Why be with someone if you are just going to hurt him? Anyways, I really do like my song Never Gonna Give You Up. If you haven't listened to it, you really should, it's a really interesting song.

				</p>
			</div>

			<div class="righty">
				<iframe width="310" height="380" src="https://www.youtube.com/embed/dQw4w9WgXcQ">
				</iframe>

			</div>

		</div>
		<footer>

		</footer>


	</div>

</body>

<audio src="../audio/lol.mp3" autoplay>
	<p>If you are reading this, it is because your browser does not support the audio element.     </p>

………………………………………………………………………………„-~~'''''''~~--„„_
…………………………………………………………………………„-~''-,:::::::::::::::::::''-„
…………………………………………………………………….,~''::::::::',::::::::::::::::::::|',
…………………………………………………………………….|::::::,-~'''¯¯¯''''~~--~'''¯'''-,:|
…………………………………………………………………….'|:::::|: : : : : : : : : : : : : |,'
…………………………………………………………………….|:::::|: : :-~~---: : : -----: |
……………………………………………………………………(¯''~-': : : :'¯°: ',: :|: :°-: :|
…………………………………………………………………….'''~-,|: : : : : : ~---': : : :,'
………………………………………………………………………..|,: : : : : :-~~--: : ::/
……………………………………………………………………,-''\':\: :'~„„_: : : : : _,-'
………………………………………………………………__„-';;;;;\:''-,: : : :'~---~''/|
………………………………………………………__„-~'';;;;;;/;;;;;;;\: :\: : :____/: :',__
……………………………………………„-~~~''''¯;;;;;;;;;;;;;;;;;;;;;;;;;',. .''-,:|:::::::|. . |;;;;''-„__
…………………………………………../;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;\. . .''|::::::::|. .,';;;;;;;;;;''-„
…………………………………………,';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|;;;;;;;;;;;\. . .\:::::,'. ./|;;;;;;;;;;;;;|
………………………………………,-'';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;\;;;;;;;;;;;',: : :|¯¯|. . .|;;;;;;;;;,';;|
…………………………………….„-";;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;',;;;;;;;;;;;\. . |:::|. . .'',;;;;;;;;|;;/
……………………………………/;;;;;;;;;;;;;;;;;;;;;;;;;;|;;;;;;;;;;;;;;\;;;;;;;;;;;\. .|:::|. . . |;;;;;;;;|/
…………………………………./;;,-';;;;;;;;;;;;;;;;;;;;;;,';;;;;;;;;;;;;;;;;,;;;;;;;;;;|. .\:/. . . .|;;;;;;;;|
…………………………………/;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'',: |;|. . . . \;;;;;;;|
………………………………„~'';;;;;;;;;;;;;;;;;;;;;,-'';;;;;;;;;;;;;;;;;;;;;;;;;;\;;;;;;;;|.|;|. . . . .|;;;;;;;|
…………………………..„~'';;;;;;;;;;;;;;;;;;;;;;,-';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;',;;;;;;| |:|. . . . |\;;;;;;;|
………………………….,';;;;;;;;;;;;;;;;;;;;;;;;/;;;,-';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;;| |:|. . . .'|;;',;;;;;|
…………………………|;,-';;;;;;;;;;;;;;;;;;;,-';;;,-';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;;;| |:|. . .,';;;;;',;;;;|_
…………………………/;;;;;;;;;;;;;;;;;,-'_;;;;;;,';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|;;;;|.|:|. . .|;;;;;;;|;;;;|''''~-„
………………………./;;;;;;;;;;;;;;;;;;/¯'',;;;,';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;,;;| |:|. . ./;;;;;;;;|;;;|;;;;;;|-„„__
……………………../;;;;;;;;;;;;;;;;;,-'…|;;,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|
|:|._,-';;;;;;;;;|;;;;|;;;;;;;;;;;'''-„_
……………………/;;;;;;;;;;;;;;;;,-'….,';;,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|.|:|::::'''~--~'''||;;;;;|;;;;;;;;;;,-~''''~--„______
………………….,';;;;;;;;;;;;;;;;,'……/;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|.|:|::::::::::::::|;;;;;',;;;;;;;;;''-,:
: : : : :'''~-,:'''~~--„
…………………/;;;;;;;;;;;;;;;,-'……,';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|:|:|::::::::::::::',;;;;;;|¯''''~--„„-~---„„___„-~~'''__''~-\
………………,-';;;;;;;;;;;;;;;,'……../ ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|:|:|:::::::::::::::|;;;;;
MD…..……../;;;;;;;;;;;;;;;;/…….,-;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;|:|:|:::::::::::::::|;;;


</html>