<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joel Hanson</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>


<body>
    <div class="buttons">
            <form>
                    Add To List:<br>
                    <input type="text" name="firstname"><br>
                  </form>
        
        <a class="btn" href="../html/index.html">Add To List</a>
        </div>



</body>

</html>